*{
    font-family: sans-serif,'Segoe UI', Tahoma, 'Geneva', Verdana;
}
body{
    background: linear-gradient(#222, #555, #b1b1b1);
    background: url(tasty-pizza-near-ingredients.jpg);
    text-align: center;
    background-repeat: no-repeat;
}
.do{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: center;
    font-size: 34px;
    color: #d4d4d4;
    margin: 17px;
    border: #a2a2a2 solid 10px;
    border-radius: 15px;
}

.p{
    border-radius: 25px;
    padding: 0;
    display: flex;
    height: 75vh;
    width: 70%;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}


.df{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 14px;
    border: #7e7e7e solid 6px;
    justify-content: center;
    border-radius: 8px;
    padding: 4px 9px;
    transition: 0.7s;
    font-size: 28px;
    text-align: center;
}
a:hover{
    color: red;
    transform: scale(1.5);
    background-color: transparent;
    transition: 0.4s;
    font-size: 22px;
    border: 10px solid rgb(185, 5, 5);    
    border-radius: 17px;
}
.df:visited{
    color: #ffffff;
    font-size: 22px;
}

@media (min-width:950px) and (max-width:1150px) {
    .content .image img{
        width: 330px;
    }
}
@media (max-width:950px) {.content
.content{
    flex-direction: column;
    justify-content: center;
}
}